header {
    font-family: 'Indie Flower', sans-serif;
    }
.title{
    color: #2f6729;
    margin: 0px;
    text-align: center;
    }
.motto{
    font-size: 15px;
    color: #438c3b;
    text-align: center;
    font-style: italic;
    }
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 10%;
    }
ul{
    list-style-type: none;
    background-color: #2f6729;
    color: whitesmoke;
    margin: 0%;
    padding: 0%;
    }
h2{
    text-align: center;
    color: #2f6729;
    }
footer{
    text-align: center;
    font-size: 10px;
    color: #a5a7a5;
    }